@import '../../_variables.scss';

.AutoCompleteEntries {
    position: relative;
    margin: 0;
    background-color: white;
    color: $color_tertiary;
    box-sizing: border-box;
    width: 75%;
    font-family: inherit;
    font-size: $input-font-size;
}

.AutoCompleteEntries--list {
    text-align: left;
    list-style-type: none;
    margin: -1px 0 0;
    padding: 0;
    box-sizing: border-box;
}

.AutoCompleteEntries--list-entry {
    position: relative;
    padding: 0 $input-padding;
    line-height: $input-height;
    box-sizing: border-box;
    height: $input-height;
    margin: -1px 0 0;
    border: solid 1px $color_tertiary;
    cursor: pointer;
    z-index: 1;
}

.AutoCompleteEntries--list-entry i, .AutoCompleteEntries--list-entry span{
    position: relative;
    z-index: 0;
}

.AutoCompleteEntries--list-entry__active {
    background-color: $color_tertiary;
    color: $color_primary;
}